<h1>New coin</h1>

<%= render "form", coin: @coin %> <!-- Passa o @coin como parametro para dentro do form para ser usado no arquivo _form.html.erb -->

<br>

<div>
  <%= link_to "Back to coins", coins_path %>
</div>
